ul.tree {
    list-style: none;
}
li.tree-leaf {
    padding-left: 20px;
    background-image: url("../img/file.gif");
    background-repeat: no-repeat;
    background-position: left top;
}
li.tree-node-collapsed {
    padding-left: 20px;
    background-image: url("../img/folder2.gif");
    background-repeat: no-repeat;
    background-position: left top;
}
li.tree-node-expanded {
    padding-left: 20px;
    background-image: url("../img/folder_open2.gif");
    background-repeat: no-repeat;
    background-position: left top;
}
li.tree-node-loading, span.tree-node-loading {
    padding-left: 20px;
    background-image: url("../img/progress.gif");
    background-repeat: no-repeat;
    background-position: left top;
    cursor: progress;
}
.tree .tree-clickable {
    cursor: pointer;
}
