ul.tree {
    list-style: none;
}
li.tree-leaf {
    padding-left: 15px;
}
tt.tree-handle {
    width: 15px;
    display: inline-block;
    overflow: hidden;
}
.tree .tree-clickable {
    cursor: pointer;
}
.tree .tree-progress {
    cursor: progress;
}
